<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Movies')}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('movies')}"></nav>

<h1>Best Movies of the year are:</h1>
<ul>
    <li th:each="movie : ${getBestMovies}">
      <a th:href="@{|/movies/${movie.id}|}">
      <!-- metodi diversi di scrivere la stessa cosa
        <span th:text="${movie.id + '- ' + movie.title}"></span> -->
      <span th:text="|${movie.id} - ${movie.title}|"></span>
      </a>
    </li>
</ul>
<!--<div th:unless="${getBestMovies.size() > 0}">No results</div>-->
<th:block th:replace="~{/fragments/resources :: jsResources}"></th:block>
</body>
</html>