<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
</head>
<body>
<h1>Best Movies of the year are:</h1>
<ul>
    <li th:each="movie : ${getBestMovies}">
      <a th:href="@{|/movies/${movie.id}|}">
      <!-- metodi diversi di scrivere la stessa cosa
        <span th:text="${movie.id + '- ' + movie.title}"></span> -->
      <span th:text="|${movie.id} - ${movie.title}|"></span>
      </a>
    </li>
</ul>
<!--<div th:unless="${getBestMovies.size() > 0}">No results</div>-->
</body>
</html>