<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Movie Detail')}"></head>
<body>
    <div class="container">
        <h1 class="text-danger">Dettagli film!</h1>
        <div th:if="${movie != null}">
            <p th:text="|ID: ${movie.id}|"></p>
            <p th:text="|Title: ${movie.title}|"></p>
        </div>
        <div th:if="${movie == null}">
            Impossibile trovare il film!
        </div>
        <a th:href="@{/movies}">Torna alla lista dei film</a>
    </div>

    <th:block th:replace="~{/fragments/resources :: jsResources}"></th:block>
</body>
</html>