<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Song Detail')"></head>
<body>
<div class="container">
    <h1>Dettagli canzoni!</h1>
    <div th:if="${song != null}">
        <p th:text="|ID: ${song.id}|"></p>
        <p th:text="|Title: ${song.title}|"></p>
    </div>
    <div th:if="${song == null}">
        Impossibile trovare la canzone!
    </div>
    <a th:href="@{/songs}">Torna alla lista delle canzoni!</a>
</div>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>